.box-blocker { min-width: 100px; min-height: 50px; overflow: hidden; border: 1px dashed green; }
.box-blocker-frame { background: #FFFF66; border: 1px solid red; font-size: 12px; cursor: pointer; overflow: auto; }
.box-blocker-over { overflow: hidden; }