.box-split {
    display: inline-block;
    height: 10px;
    width: 1px;
    margin: 0 10px;
    vertical-align: middle;
    background-color: #e2e2e2;
}

.box--avatar{
    position: absolute;
    left: 15px;
    top: 15px;
}