.laypage-main {
    margin: 20px 0;
    border: 1px solid #009E94;
    border-right: none;
    border-bottom: none;
    font-size: 0;
}

.laypage-main .laypage-curr {
    background-color: #009E94;
    color: #fff;
}

.laypage-main * {
    padding: 0 20px;
    line-height: 36px;
    border-right: 1px solid #009E94;
    border-bottom: 1px solid #009E94;
    font-size: 14px;
}

a {
    color: #333;
    text-decoration: none;
}