/*
面板盒子
*/
.box-panel{
    margin-bottom: 15px;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
}
/*
面板标题
*/
.box-panel .box-panel-title{
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    border-bottom: 1px dotted #E9E9E9;
    color: #333;
    border-radius: 2px 2px 0 0;
    font-size: 14px;
}
/*
面板标题中的连接
*/
.box-panel .box-panel-title a{
    padding: 0 8px;
}

/*
工具条
*/
.box-panel .box-panel-title .box-panel-tools{
    display: block;
    float: right;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.box-panel .box-panel-title .box-panel-tools a{
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}